asgiref
Django
django-cors-headers
django-filter
django-timezone-field
djangorestframework
djangorestframework-simplejwt
drf-yasg
redis
celery
pyyaml
Pillow
prompt-toolkit
psycopg2-binary
PyJWT
python-dotenv
pytz
sqlparse
tzdata
coverage
Docker